@charset "utf-8";

.pcgame>h2{
    font-size: 24px;
    font-family: 'Noto Sans CJK KR Black';
    letter-spacing: -1.2px;
}

.pcgame{
    position: absolute;
    right: 200px;
    width: 350px;
}


.pcgame>a>ul{
    display: flex;
    margin-bottom: -10px;
    background-color: rgba(245, 244, 244, 0.575);
    border-radius: 5px;
}

.pcgame>a>ul:nth-child(1){
    margin-top: 30px;
}

.pcgame>a>.magu>li:nth-child(1){
    width: 175px;
    height: 114px;
    text-indent: -9999px;
    background-image: url(../images/p-1.png);
    border-radius: 5px 0 0 5px;
}

.pcgame>a>.mable>li:nth-child(1){
    width: 175px;
    height: 114px;
    text-indent: -9999px;
    background-image: url(../images/p-2.png);
    border-radius: 5px 0 0 5px;
}

.pcgame>a>.club>li:nth-child(1){
    width: 175px;
    height: 114px;
    text-indent: -9999px;
    background-image: url(../images/p-3.png);
    border-radius: 5px 0 0 5px;
}

.pcgame>a>.rrd>li:nth-child(1){
    width: 175px;
    height: 114px;
    text-indent: -9999px;
    background-image: url(../images/p-4.png);
    border-radius: 5px 0 0 5px;
}

.pcgame>a>.dae>li:nth-child(1){
    width: 175px;
    height: 114px;
    text-indent: -9999px;
    background-image: url(../images/p-6.png);
    border-radius: 5px 0 0 5px;
}

.pcgame>a>ul>li:nth-child(2){
    margin-top: 35px;
    margin-left: 30px;
    font-size: 17px;
    font-family: 'Noto Sans CJK KR DemiLight';
}

.pcgame>a>ul>li:nth-child(2)>strong{
    color: rgba(0, 0, 0, 0.479);
    font-size: 14px;
    font-weight: normal;
    font-family: 'Noto Sans CJK KR Regular';
}